@font-face {
  font-family: 'Baloo Paaji 2';
  src: url('fonts/Baloo_Paaji_2/static/BalooPaaji2-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Paaji 2';
  src: url('fonts/Baloo_Paaji_2/static/BalooPaaji2-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Paaji 2';
  src: url('fonts/Baloo_Paaji_2/static/BalooPaaji2-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Paaji 2';
  src: url('fonts/Baloo_Paaji_2/static/BalooPaaji2-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Paaji 2';
  src: url('fonts/Baloo_Paaji_2/static/BalooPaaji2-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

