@import url('fonts.css');

.theme-funny .tree > ul > li > pre > pre.jstree-html-node-holder-icon.icon-show,
.tree.theme-funny > ul > li > pre > pre.jstree-html-node-holder-icon.icon-show
{
  --datatype-array--image-url: url('./../themes/theme-funny/mini-images/data-types/house.png');
  --datatype-object--image-url: url('./../themes/theme-funny/mini-images/data-types/house.png');
}

.theme-funny .tree, 
.tree.theme-funny {

  --node-label--font-family: 'Niconne';

  --datatype-array--image-url: url('./../themes/theme-funny/mini-images/data-types/house.png');
  --datatype-object--image-url: url('./../themes/theme-funny/mini-images/data-types/house.png');
  --datatype-number--image-url: url('./../themes/theme-funny/mini-images/data-types/track.png');
  --datatype-string--image-url: url('./../themes/theme-funny/mini-images/data-types/money-transfer.png');
  --datatype-boolean--image-url: url('./../themes/theme-funny/mini-images/data-types/html-intence.png');
}


