.theme-funny .tree > ul > li > pre > pre.jstree-html-node-holder-icon.icon-show,
.tree.theme-funny > ul > li > pre > pre.jstree-html-node-holder-icon.icon-show
{
  --datatype-array--image-url: url('images/custom-theme-icons/house.png');
  --datatype-object--image-url: url('images/custom-theme-icons/house.png');
}

.theme-funny .tree, 
.tree.theme-funny {

  --node-label--font-family: 'Niconne';

  --datatype-array--image-url: url('images/custom-theme-icons/catalog.png');
  --datatype-object--image-url: url('images/custom-theme-icons/track.png');
  --datatype-number--image-url: url('images/custom-theme-icons/html.png');
  --datatype-string--image-url: url('images/custom-theme-icons/money-transfer.png');
  --datatype-boolean--image-url: url('images/custom-theme-icons/html-intence.png');
}
