/*

# RELATIVE PATHS NOTICE

since the theme .css files are loaded by .css file ? why? and how?

then it's rather to experience the successful url resolved.

It seems, the css variable value is resloved in a .css file, that sets a css rule like var(--variable).
in this case, relative to tree-styles-main.css, css/tree.css file sets it's rules 
with the values from the themes/theme-base/theme-base.css file. 
in theme-base.css it's just a string value,
and in css/tree.css file, when the css rule was resolved,
the relative paths apply from css/tree.css file location.

the ./../ paths are not malicious, since the browser, when resolving css rules with url() statements,
sends http request paths normally resolved. the browser doesn't ask a server to ./../../ there in it's filesytem paths.

*/

@import url('fonts.css');

.tree > ul > li > pre > pre.jstree-html-node-holder-icon.icon-show
{
  --datatype-array--image-url: url('./../themes/theme-base/mini-images/data-types/icons8-json-96.png');
  --datatype-object--image-url: url('./../themes/theme-base/mini-images/data-types/icons8-json-96.png');
}

.tree {
  --node-margin: 0 0 0.4rem 0;

  --node-label--font-family: 'Baloo Paaji 2';

  --node-margin: 0 0 0.18rem 0;

  --open-button-size: 68%;
  --open-button-animated--image-url: url('./../themes/theme-base/mini-images/button-open/button-animated.gif');
  --open-button-opened--image-url: url('./../themes/theme-base/mini-images/button-open/button-opened.png');
  --open-button-without-subtree--image-url: url('./../themes/theme-base/mini-images/button-open/button-without-subtree.svg');

  --datatype-array--image-url: url('./../themes/theme-base/mini-images/data-types/icons8-view-array-96.png');
  --datatype-object--image-url: url('./../themes/theme-base/mini-images/data-types/icons8-static-view-level2-80.png');
  --datatype-number--image-url: url('./../themes/theme-base/mini-images/data-types/icons8-3-100.png');
  --datatype-string--image-url: url('./../themes/theme-base/mini-images/data-types/icons8-font-style-formatting-96.png');
  --datatype-boolean--image-url: url('./../themes/theme-base/mini-images/data-types/icons8-true-false-96.png');


  
  --background-color--tree: #ffffff;

  --size--jstree-html-node: 1.0rem;

  --text-color--dark: #000000;
  --text-color--hover: darkgreen;

  --border--jstree-html-node: 0px solid #abc;
  --border--subtree-parent: 0px solid #abc;
  --border--jstree-html-node-open-button: 0px solid #abc;

  --icon-margin: 0 0.3rem 0 0;
  --icon-holder-size: 1.0rem;
}

@media (max-width: 440px) {
  .tree {
      --node-margin: 0 0 0.4rem 0;
      --size--jstree-html-node: 1.2rem;
      --icon-holder-size: 1.2rem;
  }
}


